#wish-text:hover {
    animation: bounce 2s;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  .fate-ball:hover {
    animation: rotate 8s infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: 'Genshin';
    src: url('/fonts/zh-cn.ttf') format('truetype');
  }
